* {
    box-sizing: border-box;
    font-family: "coordinates-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 1.1rem;
    line-height: 150%;
}

.hero {
    background-image: url(images/banner.png);
    height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

body {
    background-color: #2E2E2E;
}

a {
    text-decoration: none;
    color: white;
    background-color: #2D592C;
    padding: 1.5%;
    border-radius: 5px;
    text-shadow: black 1.5px 1.5px;
    font-weight: 600;
    font-size: 1.5rem;
}

.playing-board {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5%;
}

.pbs {
    display: flex;
    align-content: center;
    margin-left: 6%;
}

.pbm {
    display: flex;
    align-content: center;
    margin-left: 6%;
}

#offence {
    width: 800px;
    height: 800px;
    background-color: #2D592C;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
}

#defence {
    width: 800px;
    height: 800px;
    background-color: #2D592C;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
}

.space {
    box-sizing: border-box;
    border: 1px solid #000;
}

.cat-inst {
    display: flex;
    padding: 1%;
    margin: 1%;
    background-color: rgb(167, 142, 184);
    height: 15vh;
}

.instructions p {
    color: white;
    text-indent: 1.5%;
}

img {
    width: 11vh;
}

.rules {
    background-color: #FABB63;
    padding: 2%;
    margin: 2%;
}

.rules h3 {
    font-size: 1.3rem;
}

footer {
    background-color: #644B77;
    padding: 2%;
}

footer h4 {
    text-align: right;
    color: whitesmoke;
}