* {
    box-sizing: border-box;
    font-family: "coordinates-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 1.1rem;
}

.options-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap ;
    background-color: #392c59;
    margin: 2%;
}

.elder {
    background-color: #A78EB8;
}

.elder-Witch {
    width: 80px;
    height: 40px;
    margin: 3px;
}

.cauldron {
    width: 80px;
    height: 40px;
    margin: 3px;
}

.caul {
    background-color: #2E2E2E;
}

.young-Witch {
    width: 80px;
    height: 40px;
    margin: 3px;
}

.young {
    background-color: #644B77;
}

.adult-Witch {
    width: 80px;
    height: 40px;
    margin: 3px;
}

.adult {
    background-color: #FABB63;
}

.playing-board {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

#playingBoard {
    display: flex;
    justify-content: space-evenly;
}

.block {
    width: 80px;
    height: 20px;
    border: solid 1px black;
    box-sizing: border-box;
}

body {
    background-color: #2E2E2E;
}

.instructions p {
    background-color: #A78EB8;
    color: white;
    padding: 2%;
    margin: 2%;
}
.playing-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}

#game-info {
    color: whitesmoke;
}

/* 
#offence {
    width: 800px;
    height: 800px;
    background-color: #2D592C;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
}

#defence {
    width: 800px;
    height: 800px;
    background-color: #2D592C;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
} */
.block {
    width: 80px;
    height: 80px;
}

/* .space {
    box-sizing: border-box;
    border: 1px solid #000;
} */

a {
    text-decoration: none;
    color: white;
    background-color: #2D592C;
    padding: 1%;
}

.rules {
    background-color: #FABB63;
    padding: 2%;
    margin: 2%;
}

footer {
    background-color: #644B77;
    padding: 2%;
}

footer h4 {
    text-align: right;
}